*{
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: var(--bg-color) #1d2631;
    --text-color: #fff;
    --main-color: #08961f;
    --other-color: #fcfcfc;
    --h1-font: 3rem;
    --p-font: 1rem;
}

body{
    background-color: #1d2631;
    color: var(--text-color);
}

nav{
    background: white;
    width: 380px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}

.navegação{
    display: flex;
}